{
    "ignorePatterns": ["build/*", ".eslintrc.js", "scripts/"],
    "extends": [
        "lichthagel/node",
        "lichthagel/typescript"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "tsconfigRootDir": ".",
        "project": ["./tsconfig.json"]
    },
    "rules": {
        "import/no-unresolved": "off",
        "import/default": "off"
    }
}
