{
    "extends": ["lichthagel/react", "lichthagel/typescript"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "tsconfigRootDir": ".",
        "project": ["./tsconfig.json"]
    },
    "ignorePatterns": ["dist/*", "*.config.*"],
    "rules": {
        "react/prop-types": "off"
    }
}